@charset "utf-8";


/*versão de tablet*/
@media screen and (min-width: 768px) and (max-width:992px){
    main{
        width: 90vw ;
        height: 70vh;
        display: inline;
    }
    div#img{
        
        
        
    }img#foto{
        height: 70vh;
        width: 40vw;
        border-radius: 20px 0px 0px 20px;
    }
    div#formulario{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-3%, -50%);
        margin: 20px;
        padding: 20px;
    }
    h1{
        margin-top: -10px;
    }
}
@media screen and (min-width: 992px){
    main{
        width: 65vw;
        height: 60vh;
    }
    img#foto{
        width: 30vw;
        height: 60vh;
        border-radius: 20px 0px 0px 20px;
    }
    div#formulario{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(8%, -60%);
        margin: 20px;
        padding: 20px;
    }
}