@charset "utf-8";

/*media breakpoints devices
tablets 481 -  768
laptops 769 - 1024
desktops 1025 - 1200
tvs1201*/

@media screen and (min-width: 768px) and (max-width:992px){ 
    body{
        background-image: linear-gradient(to top, #328bdf, #2dce6b);
    }
    section#login > div#img{
        float: left;

    }
    section#login > div#formulario{
        float: right;
    }
}